*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Lucida Sans Unicode;
	background: #F0FFFF;
}

@mixin boxShadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin btn($width:md, $bg:yellow, $text:black){
	@if $width == "xs"{
		width: 35px;
		height: 25px;
	}
	@if $width == "sm"{
		width: 70px;
		height: 25px;

	}
	@if $width == "md"{
		width: 100px;
		height: 35px;
		font-size: 14px;
	}
	@if $width == "lg"{
		width: 140px;
		height: 40px;
		font-size: 16px;
	}
	width: $width;
	background-color: $bg;
	color: $text;
 	text-align: center;
 	text-decoration: none;
 	cursor: pointer;
 	border-radius: 8px;
 	font-family: Comic Sans MS;
 	border: none;
 	@include boxShadow(1px, 1px, 3px, 0px, $color:black);
 	&:hover{
		background-color: #1E90FF;
		text-decoration: underline;
 	}
 	&:active{
		box-shadow: none;
 	}
 }

.wrapper{
	width: 1000px;
	margin: auto;
	background-color: #FFFFF0;
	@include boxShadow(0px, 0px, 4px, 1px, #C0C0C0);
	.header{
		color: #696969;
		font-family: Arial Black;
		h1,h2{
			color: #0000CD;
		}
		&__enter{
			height: 50px;
			background: linear-gradient(to top, #9370DB, #E6E6FA 20%);
			border-radius: 0px 0px 10px 10px;
			padding-top: 15px;
			.header__sign_in{
				margin-left: 50px;
				.header__log{
					width: 150px;
					height: 23px;
					padding-left: 5px;
					border-radius: 5px;
					border: 1px outset #0000CD;
					@include boxShadow(1px, 1px, 3px, 0px, #191970);
				}
				#header__signIn{
					@include btn(sm, #0000CD, #F8F8FF);
				}#header__signUp{
					@include btn(sm, #FFD700, #000080);
				}
			}
			.header__user-info{
				display: none;
				p{
					margin-left: 50px;
					margin-right: 15px;
					color: #0000CD;
					font-size: 20px;
					font-family: MS Sans Serif;
					span{
						font-style: italic;
					}
				}								
				#header__full-info{
					@include btn(sm, #228B22);
				}
				#header__exit{
					@include btn(sm, #DC143C);
				}
			}
		}

		&__logo{
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
			width: 90%;
			display: flex;
			justify-content: space-between;
			&-center{
				text-align: center;
			}
			ul{
				margin-left: 22px;
			}
		}
	}
	.nav{
		height: 200px;
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		ul{
			list-style: none;
			display: flex;
			justify-content: space-around;
			width: 90%;
			margin: auto;
			li a{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 140px;
				height: 140px;
				background-color: #FFD700;
				border-radius: 50%;
				text-decoration: none;
				text-align: center;
				color: #0000CD;
				font-size: 22px;
				&:hover{
					@include boxShadow(0px, 0px, 0px, 5px, #FFA07A);
					transition: 0.5s;
					background-color: #FFFF00;
					font-size: 25px;
				}
				&:active{
					@include boxShadow(0px, 0px, 0px, 5px, #8B0000);
					transition: 0.5s;
					font-size: 25px;
				}
			}
		}
	}
	.content{
		.page{
			width: 90%;
			margin: auto;
		}
		.general{
			margin: auto;
			display: flex;
			&__aside{
				width: 25%;
				&-fromTo{
					width: 35px;
					height: 22px;
					padding-left: 6px;
					border-radius: 11px;
					border: 1px outset #0000CD;
					font-size: 12px;
					font-style: italic;
					@include boxShadow(1px, 1px, 3px, 0px, #191970);
				}
				&-title{
					font-size: 18px;
					font-family: Arial Black;
				}
				&-apply{
					@include btn(sm, #228B22);
					margin-top: 10px;
				}
				&-reset{
					@include btn(sm, #DC143C);
				}
			}
			&__top{
				width: 75%;
			}
			&__info{
				min-height: 600px;
				width: 75%;
				display: none;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: white;
				@include boxShadow(0px, 0px, 5px, 1px, #F0E68C);
				&-img{
					max-height: 350px;
				}
				table{
					width: 70%;
				}
				.general__close{
					margin-top: 10px;
					margin-bottom: 15px;
					@include btn(xs, red, white);
				}

			}
			.general__bikes{
				height: 600px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-around;
				background-color: white;
				border-radius: 5px;
				@include boxShadow(0px, 0px, 5px, 1px, #F0E68C);
				.general__bike-section{
					height: 200px;
					width: 250px;					
					text-align: center;
					.general__img{
						height: 140px;
						cursor: pointer;
					}
					.general__name{
						font-weight: bold;
						cursor: pointer;
					}
					.general__price{
						font-style: italic;
						cursor: pointer;
					}
					&:hover{
						color: #0000CD;
						transform: scale(1.1);
						text-decoration: underline;
					}
				}
			}
			.general__page-changer{
				margin: auto;
				width: 330px;
				height: 50px;
				list-style: none;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
		.search{
			display: none;
			&__aside{
				width: 25%;
				font-size: 42px;
				line-height: 1.7;
				margin-bottom: 20px;
			}
			&__main{
				width: 75%;
				font-size: 20px;
				padding-top: 5px;
				.search__text{
					width: 200px;
					height: 38px;
					padding-left: 5px;
					border-radius: 5px;
					border: 1px outset #0000CD;
					@include boxShadow(1px, 1px, 3px, 0px, #191970);
				}
				.search__btn{
					@include btn(lg, #228B22);
				}
				.search-reset__btn{
					@include btn(lg, #DC143C);
				}
				.search__points{
					min-height: 300px;
					list-style: none;
					margin: 20px 0px 0px 20px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
					align-items: stretch;
					.search__point-filled{
						width: 150px;
						height: 60px;
						border: 2px solid #4B0082;
						border-radius: 5px;
						background-color: yellow;
						font-style: italic;
						font-size: 16px;
						&:hover{
							cursor: pointer;
							transform: scale(1.1);
							border: 2px solid red;
							background-color: #FFD700;
						}
					}
				}
			}
		}
		.about{
			display: none;
			&__aside{
				@extend .search__aside;
			}
			&__main{
				border-radius: 20px;
				width: 75%;
				h2{
					text-align: center;
					cursor: pointer;
					margin-top: 10px;
				}
				&-top{
					font-style: italic;
					color: #483D8B;
					text-align: justify;
					font-size: 20px;
					margin: 10px
				}
				&-bottom{
					text-align: justify;
					font-family: Comic Sans MS;
					margin: 20px;
					font-size: 18px;
				}
			}
		}
		.contacts{
			display: none;
			&__aside{
				@extend .search__aside;
			}
			&__main{
				width: 75%;
			}
			h2{
				text-align: center;
				margin-top: 10px;
				color: #0000FF;
			}
			h3{
				text-align: center;
				margin-top: 10px;
				color: #0000CD;
			}
			h4{
				text-align: center;
				margin-top: 10px;
				color: #191970;
			}
			table{
				tr{
					font-family: Comic Sans MS;
				}
				width: 450px;
				height: 200px;
				margin: auto;
				margin-top: 15px;
			}
		}
	}
	.footer{
		margin-top: 30px;
		padding-top: 20px;
		height: 250px;
		background: linear-gradient(#9370DB, #E6E6FA 7%);
		border-radius: 10px 10px 0 0;
		&__rights{
			text-align: center;
			margin-bottom: 20px;
		}
		&__menu{
			width: 90%;
			display: flex;
			margin: auto;
			margin-bottom: 15px;
			justify-content: space-between;
			&-items{
				list-style: none;
			}
			li{
				a{
					text-decoration: none;
					&:hover{
						color: red;
					}
				}				
			}
			&_last:after{
				content: '';
				display: block;
				clear: both;
			}
		}
		&__icons{
			display: flex;
			list-style: none;
			margin-left: 50px;
			p{
				color: black;
				margin-right: 15px;
				font-family: Comic Sans MS;
			}
			li{
				margin-right: 10px;
				a{
					color: black;
					&:hover{
						color: red;
					}
				}
			}
		}
		&__cards{
			list-style: none;
			display: flex;
			margin-left: 50px;
			margin-top: 15px;
			p{
				color: black;
				margin-right: 10px;
				font-family: Comic Sans MS;
			}
			li{
				width: 54px;
				height: 34px;
				margin-right: 5px;
			}
			#payPal{
				background: url(..//img/cards.png);
			}
			#visa{
			    background: url(..//img/cards.png);
			    background-position: -54px;
			}
			#visa2{
			    background: url(..//img/cards.png);
			    background-position: -108px;
			}
			#mastecard{
			    background: url(..//img/cards.png);
			    background-position: -162px;
			}

			#mastecard2{
			    background: url(..//img/cards.png);
			    background-position: -212px;
			}
			#tradeUk{
			    background: url(..//img/cards.png);
			    background-position: -266px;
			}
		}
	}
}
.wrapper_2{
    background-color: black;
    width: 100vw;
    position: absolute;
    top: 0px;
	display: none;
	opacity: 0.2;
}
.fullInfo{
	@extend .addNewUser;
	.info__user-name{
		text-align: center;
		font-size: 24px;
		margin-bottom: 20px;
		font-family: Lucida Console;
	}
	table{
		width: 300px;
		margin: auto;
		font-size: 18px;
		tr{
			height: 50px;
			width: 300px;
			text-align: center;
		}
	}
	div{
		text-align: center;
		margin-top: 20px;
	}
}
.addNewUser{
	display: none;
	position: absolute;
	left: 400px;
	top: 200px;
	background-color: #E0FFFF;
	width: 300px;
	height: 300px;
	padding: 50px;
	border-radius: 20px;
	@include boxShadow(1px, 1px, 5px, 0px, #4682B4);
	.reg{
		width: 175px;
		height: 22px;
		padding-left: 6px;
		margin-top: 7px;
		border-radius: 11px;
		border: 1px outset #0000CD;
		font-size: 12px;
		font-style: italic;
		@include boxShadow(1px, 1px, 3px, 0px, #191970);
	}
	.reg__register{
		@include btn(lg, #228B22)
	}
	.reg__close{
		@include btn(lg, #DC143C)
	}
}
@media screen and (max-width: 740px){
	.wrapper{
		width: 700px;
		.nav{
			height: 150px;
			ul{
				li a{				
					width: 120px;
					height: 120px;
					font-size: 18px;
					&:hover{						
						font-size: 25px;
					}
				}
			}
		}
		.content{
			.general{
				&__info{
					&-img{
						max-height: 250px;
					}
				}
				.general__bikes{
					.general__bike-section{
						height: 150px;
						width: 180px;
						.general__img{
							height: 110px;
						}
					}
				}
			}
			.search{
				display: none;
				&__main{
					.search__text{
						margin-bottom: 20px;
					}
					.search__points{
						.search__point-filled{
							width: 100px;
							height: 40px;
							font-size: 12px;
							&:hover{
								border: 2px solid red;
								transform: scale(1);
							}
						}
					}
				}
			}
		}
		.footer{
			&__menu{
				font-size: 14px;
			}
		}		
	}
	.addNewUser{
		left: 150px;
		top: 100px;
	}
}